*,
*::after,
*::before {
  box-sizing: border-box;
}

html,
body {
  font-size: var(--font-size-base);
  line-height: var(--font-line-height);
  color: var(--primary-color);
}

.blind {
  display: block;
  overflow: hidden;
  position: absolute;
  left: -9999px;
  width: 1px;
  height: 1px;
  font-size: 0;
  line-height: 0;
  text-indent: -9999px;
}
